$sidebar-bg: rgb(18, 27, 58);
$text-primary: white;
$text-dark: black;
$text-active: orange;
$theme-color: orange;
$text-light-dark: gray;
$background-color: #000000;
$alternate-bg-color: #070323;


// $colors :(
//     text-heading:,
//     text:(

//     ),
//     primary:(
//         base:orange,
//         tint : ,
//         shade: ,
//         tone: ,

//     ),
//     secondar:(

//     ),
//     bgcolor:(

//     )
// )

// @funtion 

// color : colors(text-heading);
// color:colors(primary,dark);