$medium: 500;
$medium-bold: 600;
$bold:700;
$extra-bold: 800;



// $colors:(
//     texts:(
//         main-heading:black,
//         secondary-heading:red,
//         tertiary-heading:blue,
//         paragraph:gray
//     )

//     primary:(
//         base: black,
//         tint:gray,
//         shade: black,
//     )

   

// )