.button, .contact-container .contact-form button, .resume-button, .hero-cta-button, .hero-header-button {
  background-color: orange;
  color: #000000;
  border: none;
  font-size: 1.25rem;
  cursor: pointer;
}

.button-bordered, .cta-button {
  background-color: transparent;
  color: orange;
  border: 1px solid orange;
  font-size: 1.25rem;
  border-radius: 10px;
  cursor: pointer;
}

.center-horizontal, .contact-container, .blog-container, .testimonial-container, .portfolio-container, .faq-container, .service-container, .resume-container, .about-container {
  padding: 80px 0;
  width: 90%;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
}

.all-contents {
  position: relative;
}

ul {
  list-style-type: none;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: gray;
}

a {
  text-decoration: none;
  color: white;
}

main {
  width: 87%;
  right: 0;
  position: absolute;
}

.sidebar {
  left: 0;
  width: 13%;
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: rgb(18, 27, 58);
}
.sidebar-image {
  height: 160px;
  background-color: #000000;
  cursor: pointer;
}
.sidebar-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sidebar-name {
  background-color: orange;
  padding: 10px 0;
  text-align: center;
}
.sidebar-menu {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar-menu-link {
  padding: 10px 10px;
}
.sidebar-menu-link a i {
  margin-right: 10px;
}
.sidebar-menu-link:hover a {
  color: orange;
}
.sidebar-bottom {
  color: gray;
  margin-top: 13px;
  font-size: 1.0625rem;
  text-align: center;
}

section:not(#hero, #resume, #portfolio, #blog, #contact) {
  background-color: #000000;
}

#resume,
#portfolio,
#blog {
  background-color: #070323;
}

#contact {
  background-color: orange;
}

#hero {
  height: 100vh;
  position: relative;
}

.hero-image {
  position: absolute;
  background-image: url("../sidelook2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}
.hero-overlay {
  position: absolute;
  background-color: rgb(9, 11, 26);
  width: 100%;
  height: 100%;
  z-index: -2;
}
.hero-header {
  display: flex;
  align-items: normal;
  justify-content: space-between;
}
.hero-header-contact {
  margin-top: 30px;
  font-style: normal;
  color: gray;
  font-weight: 500;
  font-size: 1.125rem;
}
.hero-header-contact span {
  margin-left: 40px;
}
.hero-header-button {
  padding: 0 15px;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 20px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-intro {
  width: 60%;
}
.hero-intro .name {
  color: white;
}
.hero-intro .position {
  font-weight: 500;
  margin: 20px 0;
}
.hero-cta-button {
  border-radius: 5px;
  margin-top: 35px;
  transition: 0.5s ease-in-out;
  padding: 12px 30px;
}
.hero-cta-button:hover {
  padding: 12px 35px;
  color: white;
  box-shadow: 0 15px 10px 0px rgba(21, 35, 193, 0.1);
}
.hero-social-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-social-buttons button {
  padding: 10px;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 40px;
  background-color: transparent;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.hero-social-buttons button:hover {
  border-radius: 50%;
  border: 1px solid orange;
  color: orange;
}

.about-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}
.about-details {
  margin: 75px 0;
}
.about-details-list {
  font-size: 1.125rem;
  font-style: normal;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.about-details-list li {
  width: 48%;
}
.about-stats {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-top: 50px;
}
.about-stats-box {
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  border-radius: 10px;
}
.about-stats-box .stats-icon {
  color: orange;
  font-size: 1.875rem;
}
.about-stats-text .number {
  font-size: 1.375rem;
  font-weight: 600;
}

.resume-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}
.resume-experience {
  display: flex;
  align-items: stretched;
  justify-content: center;
  gap: 2%;
  flex-wrap: wrap;
}
.resume-experience .experience-box {
  background-color: #000000;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 30px;
  line-height: 2;
  width: 40%;
  margin-top: 16px;
}
.resume-experience .experience-box .icon {
  color: orange;
  font-size: 40px;
}
.resume-experience .experience-title {
  font-size: 1.25rem;
  font-weight: 500;
}
.resume-experience .experience-outcome {
  color: gray;
}
.resume-progress {
  display: flex;
  align-items: initial;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.resume-progress-box {
  width: 45%;
  font-size: 1.125rem;
  font-weight: 500;
}
.resume-progress-bar {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 6px;
}
.resume-progress-bar::-webkit-progress-value {
  background-color: orange;
  border-radius: 10px 0 0 10px;
}
.resume-progress-text {
  display: flex;
  justify-content: space-between;
}
.resume-button {
  padding: 12px 25px;
  border-radius: 5px;
  margin-top: 35px;
  transition: 0.2s ease-in-out;
}
.resume-button:hover {
  box-shadow: 0 15px 10px 0px rgba(21, 35, 193, 0.1);
  color: white;
}

.service-container header {
  text-align: center;
  margin-bottom: 30px;
}
.service-container .service-boxes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.service-container .service-boxes .service-box {
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
  margin: 10px;
  width: 30%;
  border-radius: 15px;
  min-width: 260px;
  padding: 50px 40px;
  position: relative;
  overflow: hidden;
}
.service-container .service-boxes .service-box::before {
  content: "";
  position: absolute;
  background-color: orange;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  transition: 0.4s ease-in-out;
  z-index: 0;
}
.service-container .service-boxes .service-box:hover::before {
  width: 100%;
}
.service-container .service-boxes .service-box .service-list {
  position: relative;
  z-index: 2;
  color: gray;
  line-height: 2;
}
.service-container .service-boxes .service-box .service-list li::before {
  content: ">";
  margin-right: 10px;
}
.service-container .service-boxes .service-box .icon {
  font-size: 1.875rem;
  height: 70px;
  width: 70px;
  position: relative;
  border-radius: 100%;
  background-color: gray;
}
.service-container .service-boxes .service-box .icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.service-container .service-boxes .service-box .service-title {
  font-size: 1.5625rem;
  font-weight: 500;
  margin: 20px 0;
  z-index: 2;
  position: relative;
}

.cta-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
  background: #140909;
  background: linear-gradient(169deg, rgb(20, 9, 9) 0%, rgba(6, 21, 66, 0.82) 100%);
  height: 250px;
}
.cta-button {
  padding: 10px 20px;
}

.faq-container header {
  text-align: center;
}
.faq-group {
  width: 70%;
  margin: 30px auto;
}
.faq-group .faq-item {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 30px;
}
.faq-group .faq-item .faq-question {
  font-weight: 500;
}
.faq-group .faq-item .faq-answer {
  text-indent: 20px;
  color: gray;
  margin-top: 15px;
}

.portfolio-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.portfolio-menu {
  border-bottom: 2px solid gray;
  margin-right: 50px;
  padding: 8px 0;
}
.portfolio-menu a {
  font-weight: 500;
  font-size: 1.125rem;
  padding: 10px 15px;
}
.portfolio-menu a:hover {
  color: orange;
}
.portfolio-gallery {
  margin: 40px 0;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 30px;
}
.portfolio-gallery-box {
  border-radius: 10px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.portfolio-gallery-box .card-details {
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  flex-direction: column;
  color: orange;
  padding-left: 20px;
  transition: 0.3s ease-in-out;
}
.portfolio-gallery-box:hover img {
  scale: 1.2;
}
.portfolio-gallery-box:hover .card-details {
  opacity: 1;
  visibility: visible;
}
.portfolio-gallery-box img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease-in-out;
}

.testimonial-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.testimonial-container header {
  text-align: center;
  margin-bottom: 30px;
}
.testimonial-container .user-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}
.testimonial-container .user-review-box {
  width: 40%;
  max-width: 600px;
  padding: 50px;
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-radius: 15px;
}
.testimonial-container .user-review-box .icon {
  font-size: 3.125rem;
  text-align: center;
  color: orange;
}
.testimonial-container .user-review-box .review-text {
  color: gray;
}
.testimonial-container .user-profile {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 20px;
}
.testimonial-container .user-name {
  font-weight: 500;
  font-size: 1.125rem;
}
.testimonial-container .user-photo {
  border: 1px solid gray;
  height: 50px;
  min-width: 50px;
  width: 50px;
  border-radius: 25px;
  overflow: hidden;
}
.testimonial-container .user-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-container header {
  text-align: center;
  margin-bottom: 30px;
}
.blog-container .blog-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}
.blog-container .blog-post-box {
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px 0px rgba(255, 255, 255, 0.5);
}
.blog-container .blog-post-box img {
  height: auto;
  width: 100%;
}
.blog-container .blog-post-box .post-details {
  padding: 30px 20px;
}
.blog-container .blog-post-box .blog-post-meta {
  color: gray;
  display: flex;
  justify-content: space-between;
}
.blog-container .blog-post-box .blog-post-title {
  font-weight: 500;
  margin-top: 10px;
}

.contact-container header {
  text-align: center;
  margin-bottom: 30px;
}
.contact-container .contact-box {
  padding: 20px 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-container .contact-form {
  width: 60%;
}
.contact-container .contact-form .input-group {
  margin-bottom: 20px;
  border-bottom: 2px solid black;
}
.contact-container .contact-form input,
.contact-container .contact-form textarea {
  width: 100%;
  border: none;
  background-color: transparent;
  font-size: 1.25rem;
  padding: 10px;
  outline: none;
}
.contact-container .contact-details address {
  font-size: 1.25rem;
  font-style: normal;
}
.contact-container .contact-details address p {
  margin-bottom: 20px;
}
.contact-container .contact-details address p a {
  text-decoration: none;
  cursor: pointer;
}
.contact-container .contact-details address p i {
  margin-right: 10px;
}
.contact-container .contact-form button {
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  color: white;
  background-color: rgb(5, 12, 75);
}/*# sourceMappingURL=style.css.map */